@page
@using Microsoft.AspNetCore.Http
@using SignalRChat.Pages.DB
@model SignalRChat.Pages.EnteredCollaborationModel
@{
    ViewData["username"] = HttpContext.Session.GetString("username");
    ViewData["collabid"] = HttpContext.Session.GetInt32("collabid");
}

<br />

<h1>@Model.CollaborationName</h1>
<form method="post" asp-page="CreateTable">
    <div>
        <label for="tableNameInput">Enter Table Name:</label>
        <input asp-for="NewTable.TableName" id="tableNameInput" name="tableName" /> 
        <button type="submit" class="btn btn-primary">Create Table</button> 
    </div>
</form>

<br />
<br />
<div id="tableContainer"></div>



@foreach (var table in Model.Table)
{
    <table class="table">
        <thead>
            <tr>
                <th>File Name</th>
                <th>Date Added</th>
                <th>Command</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var document in Model.Doc)
            {
                <tr>
                    <td>@document.FileName</td>
                    <td>@document.DateAdded.ToString("yyyy-MM-dd")</td>
                    <td>
                        <a href="DownloadFile?documentId=@document.Id" class="btn btn-primary">Download</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<br />
<a asp-page="/UploadFile" class="btn" style="background-color: #293A7F; color: white; width: 100%;">Upload Document</a>
<br />
<br />
<a asp-page="PrintReport" class="btn" style="background-color: #293A7F; color: white; width: 100%;">Print Report</a>
<br />
<br />
<a class="btn" style="background-color: #293A7F; color: white;" asp-page="/CollabHub">&#8592; Back</a>