@page
@model SignalRChat.Pages.IndexModel
@{
    Layout = "~/Pages/Shared/_LayoutLoggedOut.cshtml";
}


@{
    if(ViewData["LoginMessage"] != null)
    {
        <br />
        if (ViewData["LoginMessage"] == "Successfully Logged Out!")
        {
            <h3 class="text-success">@ViewData["LoginMessage"]</h3>
        }
        if (ViewData["LoginMessage"] == "Username and/or Password Incorrect")
        {
            <h3 class="text-danger">@ViewData["LoginMessage"]</h3>
        }
        
    }

    if (ViewData["LoginMessage"] == null)
    {
        <br />
    }
}

@{
    if(HttpContext.Session.GetString("username") != null)
    {
        <h3>Already Logged In As: @HttpContext.Session.GetString("username")</h3>
        // Log out here
        <form asp-page="Index" asp-page-handler="LogoutHandler">
        <input type="submit" class="btn btn-danger" value="Logout"/>
        </form>
    }

    else if (HttpContext.Session.GetString("LoginError") != null)
    {
        <p class="text-danger">@HttpContext.Session.GetString("LoginError")</p>


        // Let the user try login again.
        <form asp-page="Index">
        <label>Enter Username:</label>
        <input asp-for="Username" class="form-control" placeholder="Enter Username" required/>
        <br />
        <label>Enter Password:</label>
            <input asp-for="Password" class="form-control" type="password" placeholder="Enter Password" required />
            <br />
        <input type="submit" class="btn btn-primary"/>
        </form>
        <br />
    }

    else
    {
        // First time loading the page
        <br />
        <br />
        <br />
        <section style="display: flex; align-items: center;">
            <div style="flex: 1;">
                <img src="./images/InOffice.svg" style="max-width: 100%;" />
            </div>
            <div style="flex: 1;">
            <br />
                <form asp-page="Index">
                    <label>Username:</label>
                    <input asp-for="Username" class="form-control" placeholder="Enter Username" required />
                    <br />
                    <label>Password:</label>
                    <input asp-for="Password" class="form-control" type="password" placeholder="Enter Password" required />
                    <br />
                    <input type="submit" class="btn btn-primary" style="width: 100%; background-color: #293A7F;" value="Login"/>
                </form>
                <br />
                <div style="display: flex; align-items: center;">
                    <hr style="flex: 1; margin: 0;">
                    <p style="margin: 0 10px;">or</p>
                    <hr style="flex: 1; margin: 0;">
                </div>
                <label>Don't have an account?</label>
                <a class="btn" style="width: 100%; border: 1px solid #293A7F" asp-page="/User">Create an Account</a>

            </div>
        </section>
    }
}