@page
@model SignalRChat.Pages.IndexModel
@{
    // ViewData["username"] = HttpContext.Session.GetString("username");
    Layout = "~/Pages/Shared/_LayoutPublicDocuments.cshtml";
}


            <script>
                function downloadDocument(fileName, fileData) {
                    // Create a blob from the base64 encoded file data
                    var byteCharacters = atob(fileData);
                    var byteNumbers = new Array(byteCharacters.length);
                    for (var i = 0; i < byteCharacters.length; i++) {
                        byteNumbers[i] = byteCharacters.charCodeAt(i);
                    }
                    var byteArray = new Uint8Array(byteNumbers);
                    var blob = new Blob([byteArray], { type: 'application/octet-stream' });


                }
            </script>
        </tbody>
    </table>
    </body>
<br />

@* <a class="btn" style="background-color: #293A7F; color: white;" asp-page="/CollabHub">&#8592; Back</a> *@


</html>
