@page
@model SignalRChat.Pages.RevenueAnalysisModel
@{
}
<br />
<h1>Revenue Analysis</h1>
<form asp-page="RevenueAnalysis">
    <div style="display: flex;">
        
    </div>
    <br />
    <div style="display: flex; gap: 2em;">
        <div style="flex: 1;">
            <img style="max-width: 645px;" src="https://www.health.state.mn.us/communities/practice/resources/phqitoolbox/images/scatter_ex_atlanticcities.jpg" />
            <button class="btn" style="color:white; background-color: #293A7F; display: block; width: 100%; margin-bottom: 1em;">Save Analysis</button>
        </div>
        <div style="flex: 1;">
            <div class="form-group" style="flex: 1;">
                <label class="form-label">Title</label>
                <input class="form-control" placeholder="Enter Title">
            </div>
            <div class="form-group" style="flex: 1;">
                <label class="form-label">Description</label>
                <input class="form-control" placeholder="Enter Description">
            </div>
            <label class="form-label">Inflation</label>
            <input type="number" class="form-control" placeholder="Enter Inflation" value="0" oninput="this.value = this.value">
            <label class="form-label">Interest</label>
            <input type="number" class="form-control" placeholder="Enter Interest" value="0" oninput="this.value = this.value">
            <br />
            <button type="submit" class="btn" style="color:white; background-color: #293A7F; display: block; width: 100%; margin-bottom: 1em;">Analyze</button>
            <h3 style="text-align: center;">Projection: 5% increase in 3 years</h3>
        </div>
    </div>
</form>
<br />
<a class="btn" style="background-color: #293A7F; color: white;" asp-page="/DataSets">&#8592; Back</a>