@page
@model SignalRChat.Pages.UploadFileModel
@{
    ViewData["username"] = HttpContext.Session.GetString("username");
}

<h1>Upload Word Document</h1>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="file">Select File:</label>
        <input type="file" class="form-control-file" id="file" name="file" accept=".docx,.doc">
    </div>
    <div class="form-group">
        <label for="analysisType">Select Analysis Type:</label>
        <select class="form-control" id="analysisType" name="AnalysisType" asp-for="AnalysisType">
            <option disabled selected value="">Analysis Type</option>
            <option value="Revenue Projection">Revenue Project</option>
            <option value="Spending Growth Projections">Spending Growth Projections</option>
            <option value="Benchmarking Analysis">Benchmarking Analysis</option>
            <option value="Best Practices">Best Practices</option>
            <option value="Benchmark SWOT Analysis">Benchmark SWOT Analysis</option>
            <option value="Legal Requirement">Legal Requirement</option>
            <option value="Management Practice">Management Practice</option>
            <option value="Economic Development SWOT Analysis">Economic Development SWOT Analysis</option>
            <option value="Economic Development PEST Analysis">Economic Development PEST Analysis</option>
            <option value="Help Document">Help Document</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>