@page
@model SignalRChat.Pages.UploadFileModel
@{
    ViewData["username"] = HttpContext.Session.GetString("username");
    ViewData["collabid"] = HttpContext.Session.GetInt32("collabid");

}

<div style="max-width: 500px; margin: 0 auto; border-radius: 8px; padding: 20px; border: 1px solid gray;" class="mt-3">
    <h2 style="margin-top: 0; text-align: center;">Upload Documents</h2>

    <!-- Display success message if it exists in TempData -->
    @if (TempData["UploadSuccessMessage"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["UploadSuccessMessage"]
        </div>
    }

    <!-- Display error message if it exists in TempData -->
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-warning" role="alert">
            @Html.Raw(TempData["ErrorMessage"])
        </div>
    }

    <form method="post" enctype="multipart/form-data">
        <div class="form-group" style="margin-bottom: 20px;">
            <input style="text-align: center; padding: 10px; border: 1px solid #ccc; border-radius: 4px; width: 100%; box-sizing: border-box;" type="file" class="form-control-file" id="file" name="file" accept=".docx,.doc">
        </div>
        <div class="form-group">
            <label for="analysisType">Send this file to...</label>
            <select id="analysisType" name="AnalysisType" asp-for="AnalysisType">
                <option disabled selected value="">Choose...</option>
                <option value="Help Document">Help Documents</option>
                @foreach(var documentTable in Model.DocumentTableList)
                {
                    <option value="@documentTable.TableName">@documentTable.TableName</option>
                }
            </select>
        </div>
        <button style="padding: 10px 20px; background-color: #333; color: #fff; border: none; border-radius: 4px; cursor: pointer; width: 100%;" type="submit" class="btn btn-primary mt-3">Upload</button>
    </form>
    <br />
    <a class="btn" style="background-color: #293A7F; color: white;" asp-page="/CollabHub">&#8592; Back</a>
</div>
