<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CollabFusion</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CollabFusion.styles.css" asp-append-version="true" />
</head>

<body>
    <div id="navbarContainer">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container-xxl">
                    <img src="https://www.madisonco.virginia.gov/ImageRepository/Document?documentId=79" style="width: 2.5em;" />
                
                <!-- Toggle Button for Smaller Screens -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Navbar Links -->
                <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
                    <ul class="navbar-nav" style="display: flex; align-items: center; justify-content: space-evenly;">

                        <li class="nav-item">
                            <a id="theme-toggle" class="theme-toggle" style="cursor: pointer; text-decoration: none; user-select: none; font-size: 1.7em;"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Login">Log In</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/script.js"></script>
    <script src="https://kit.fontawesome.com/58457a9076.js" crossorigin="anonymous"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
